.container {
    padding: 40px;
    box-shadow: #7b93af33 0px 4px 20px 0px;
    // margin: -120px 40px 0px;
    background-color: white;
    border-radius: 10px;
    h2 {
        font-family: "Yekan";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 29px;
        text-align: right;
        color: #666eb2;
    }
    .info-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid #445a7433 1px;
        padding: 20px 0px 30px;
        margin-bottom: 30px;
        div:not(:first-child, :last-child) {
            min-width: fit-content;
            border-left: solid 1px rgba(68, 90, 116, 0.2);
            padding-left: 7%;
        }
        div,
        img {
            width: 53px;
        }
        p.title {
            font-family: "Yekan";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            text-align: right;
            color: rgba(68, 90, 116, 0.6);
        }
        p.value {
            font-family: "Yekan";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 25px;
            text-align: right;
            color: #445a74;
        }
    }
    button {
        padding: 11px 12px 11px 16px;
        gap: 8px;
        width: 148px;
        height: 47px;
        background: #e9edf5;
        border-radius: 10px;
        border: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
            font-family: "Yekan";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            text-align: right;
            color: rgba(68, 90, 116, 0.7);
        }
    }

    .inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        label {
            font-family: "Yekan";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: right;
            color: #535a75;
        }
        input {
            padding: 11px 18px;
            width: 370px;
            border: 1px solid #ccd6ed;
            border-radius: 5px;
            font-family: "Yekan";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: right;
            color: #737a95;
            background-color: white;
        }
    }
    .controllers {
        display: flex;
        gap: 20px;
        margin-top: 40px;
        button {
            padding: 11px 12px 11px 16px;
            gap: 20px;
            width: 148px;
            height: 47px;
            background: #e9edf5;
            border-radius: 10px;
            border: none;
            font-family: "Yekan";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            text-align: right;
            color: rgba(68, 90, 116, 0.7);
        }
        button.active{
            background-color: #6370E5;
            color: white;
        }
    }
}
