<div class="home-container">
    <div class="sidebar">
        <div class="header">
            <button class="circle-btn"><img src="../../assets/images/user.svg"></button>
            <button class="circle-btn"><img src="../../assets/images/menu.svg"></button>
        </div>
        <div class="navbar">
            <div class="menu-item">
                <span class="item-icon"><img src="../../assets/images/fi_arrow-right.svg"></span>
                <span class="item-title">صفحه اصلی</span>
            </div>
            <div class="menu-item">
                <span class="item-icon"><img src="../../assets/images/line.svg"></span>
                <span class="item-title">ویرایش پروفایل</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header-frame">
            <h2>ویرایش پروفایل</h2>
            <div class="breadcrumb">
                <img src="../../assets/images/home.svg">
                <img src="../../assets/images/Vector.svg">
                <span>ویرایش پروفایل</span>
            </div>
        </div>
        <app-user-info></app-user-info>
    </div>
</div>